<app-menu></app-menu>
<div class="home_container">
    <app-card-moto 
        data-input
        Id="1"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v262812813817662420/products/30083.3-4-scooter-neo-30083-condicao-img-01-v041.png&height=300&width=300"
        motoNome="NEO 125 UBS"
    >
    </app-card-moto>
    <app-card-moto
        Id="2"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v4475214794598011758/products/30082.3-4-scooter-fluo-30082-condicao-img-01-v031.png&height=300&width=300"
        motoNome="FLUO ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="3"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v3342278949175673069/products/30075.3-4-scooter-nmax-connected-160-abs-30075-condicao-img-01-v031.png&height=300&width=300"
        motoNome="NMAX CONNECTED 160 ABS 2023"
    >
    </app-card-moto>
    <app-card-moto
        Id="4"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v7496539905499426571/products/30061.3-4-scooter-xmax-abs-30061-condicao-img-01-v021.png&height=300&width=300"
        motoNome="XMAX ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="5"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v4221401312448836282/products/30084.3-4-urbano-factor-125-abs-30084-condicao-img-01-v041.png&height=300&width=300"
        motoNome="FACTOR 125i UBS"
    >
    </app-card-moto>
    <app-card-moto
        Id="6"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v99469504418135771/products/30093.3-4-urbano-factor-150-abs-30093-condicao-img-01-v011.png&height=300&width=300"
        motoNome="FACTOR 150 ED UBS"
    >
    </app-card-moto>
    <app-card-moto
        Id="7"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v9188559193362263773/products/30088.3-4-urbano-fazer-150-abs-30088-condicao-img-01-v011.png&height=300&width=300"
        motoNome="FAZER 150 UBS"
    >
    </app-card-moto>
    <app-card-moto
        Id="8"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v4644125324654316096/products/30094.18701.jpg&height=300&width=300"
        motoNome="FAZER FZ15 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="9"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v1561935453053965188/products/30095.3-4-urbano-fazer-fz-25-abs-30095-condicao-img-01-v021.png&height=300&width=300"
        motoNome="FAZER FZ25 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="10"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v2799250998627489239/products/30096.300961.png&height=300&width=300"
        motoNome="CROSSER S ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="11"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v4076680124620961964/products/30079.3-4-supersport-r3-30079-condicao-img-01-v051.png&height=300&width=300"
        motoNome="R3 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="12"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v815994489684736739/products/30081.3-4-mtseries-mt03-abs-30081-condicao-img-01-v061.png&height=300&width=300"
        motoNome="MT-03 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="13"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v3842131394259741621/products/30085.300851.png&height=300&width=300"
        motoNome="MT-07 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="14"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v2480526354139096254/products/30086.3-4-mtseries-mt09-abs-30086-condicao-img-01-v011.png&height=300&width=300"
        motoNome="MT-09 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="15"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v4950157667718530454/products/30087.3-4-sporttouring-tracer-abs-30087-condicao-img-01-v011.png&height=300&width=300"
        motoNome="TRACER 900 GT ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="16"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v8071268485438863500/products/30068.3-4-todoterreno-lander-250-abs-30068-condicao-img-01-v031.png&height=300&width=300"
        motoNome="LANDER 250 ABS 2023"
    >
    </app-card-moto>
    <app-card-moto
        Id="17"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v628428787306877618/products/30097.300971.png&height=300&width=300"
        motoNome="CROSSER Z ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="18"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v1403015854513746472/products/30076.300761.png&height=300&width=300"
        motoNome="NMAX CONNECTED 160 ABS SE 2023"
    >
    </app-card-moto>
    <app-card-moto
        Id="19"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v5689519910245202593/products/30089.condicao-supersport-r15-abs-30089-img-01-v02-desktop1.png&height=300&width=300"
        motoNome="R15 ABS"
    >
    </app-card-moto>
    <app-card-moto
        Id="20"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v584579006463440561/products/30077.3-4-racing-ttr-30077-condicao-img-01-v031.png&height=300&width=300"
        motoNome="TT-R 230"
    >
    </app-card-moto>
    <app-card-moto
        Id="21"
        motoImg="https://www.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v7818991796898870077/products/30052.product_30052_30052-YAMAHA-R3%20ABS%20AZUL_B3R700010A_11.png&height=300&width=300"
        motoNome="R3 ABS 2023"
    >
    </app-card-moto>
    
</div>


