<div class="card-motos">
    <div class="card-motos_content">
        <h3 class="card-motos_nome">{{motoNome}}</h3>
        <img 
            src={{motoImg}}
            alt="Lander"
            >
        <div class="card-motos_planos">
            <a 
                [routerLink]=[]
                class="button_planos" 
                [routerLink]="['details', Id]">MAIS DETALHES
            </a>
        </div>
        <div class="card-motos_contato">
            <a class="button_fale" href="https://api.whatsapp.com/send/?phone=559281954498&text&type=phone_number&app_absent=0" target="_blank"><span>FALE CONOSCO</span></a>
        </div>
    </div>
</div>